params {
  project_folder = "$PWD"
  enrich_output = "enrich_output"

  chipseeker_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipseeker/chipseeker_output"
  idr_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-idr/idr_output"
  peak_consensus_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-peak-consensus/peak_consensus_output"
  diffbind_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-diffbind/diffbind_output"

  enrich_peak_sources = "idr,consensus,diffbind"
  idr_peak_pattern = "*_idr.sorted.chr.narrowPeak"
  consensus_peak_pattern = "*_consensus.bed"
  diffbind_peak_pattern = "*.bed"

  container_enrich = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipseeker_latest.sif"
  kegg_organism = "mmu"
  pvalue_cutoff = 0.05
  qvalue_cutoff = 0.05
  show_category = 20
  venn_maxgap = 1000
  venn_color_1 = "#1F77B4"
  venn_color_2 = "#FF7F0E"

  cpus = 4
  memory = "16 GB"
  time = "8h"
}

process {
  executor = 'slurm'
  container = params.container_enrich
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
